In [27]:
import pandas as pd
import numpy as np
import geopandas
import pysal
import seaborn
import contextily
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN

In [71]:
limitedDataset = pd.read_csv("./data/limtedDataSet.csv", index_col=0)
limitedDataset.head()

         lat        long          time  userNumber
0  39.984702  116.318417  1.224730e+09           0
1  39.984288  116.299943  1.224731e+09           0
2  39.983557  116.299235  1.224731e+09           0
3  39.995777  116.286798  1.224735e+09           0
4  39.996832  116.285446  1.224735e+09           0

In [64]:
limitedDataset.describe()

                 lat           long          time     userNumber
count  697279.000000  697279.000000  6.972790e+05  697279.000000
mean       39.080813     112.287790  1.242473e+09      79.266674
std         3.915662      28.275930  3.058664e+07      56.977834
min         1.044024    -179.969593  9.467683e+08       0.000000
25%        39.909022     116.307058  1.225447e+09      25.000000
50%        39.975403     116.338408  1.236690e+09      68.000000
75%        40.006018     116.431037  1.247633e+09     128.000000
max       400.166667     179.996942  1.343378e+09     181.000000

In [ ]:
seaborn.jointplot(x='lat', y='long', data=limitedDataset, s=1)

In [65]:
limitedDataset = limitedDataset[:100]

In [66]:
limitedDataset.describe()

         lat        long          time  userNumber
0  39.984702  116.318417  1.224730e+09           0
1  39.984288  116.299943  1.224731e+09           0
2  39.983557  116.299235  1.224731e+09           0
3  39.995777  116.286798  1.224735e+09           0
4  39.996832  116.285446  1.224735e+09           0

In [ ]:
llat = limitedDataset[(limitedDataset['lat'] >= 41) | (limitedDataset['lat'] <= 39) ].index
hold = limitedDataset.drop(llat, inplace = False)

In [ ]:
llong = hold[(hold['long'] >=17) | (hold['long'] <= 115) ].index
limitedDataset = hold.drop(llong, inplace = False)

In [ ]:
limitedDataset.describe()

In [ ]:
seaborn.jointplot(x='lat',y='long',data=limitedDataset, s=1)

In [56]:
limitedDataset.to_csv("./data/onlyB_40_116.csv")

In [ ]:
joint_axes = seaborn.jointplot(x='lat',y='long', data=limitedDataset, s = 0.5)

In [ ]:
dt